<head>
    {{> meta_tags}}
    <link rel="stylesheet" href="{{ROOT_PATH}}content/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ROOT_PATH}}content/theme.css">
    <link rel="stylesheet" href="{{ROOT_PATH}}content/css/admin_pages.css">
    <link rel="icon" href="{{favicon}}" type="image/png" sizes="16x16">
</head>

<body>
    {{> admin_head}}
    <h1 class="txt-color text-center">Edit Component</h1>

    {{#> (lookup . 'component')}}
    <div class="alert alert-danger w-20 container" role="alert">
        <i data-feather="alert-circle"></i>
        <span>The requested component was not found! <a href="{{ROOT_PATH}}admin/pages">Back To Pages</a></span>
    </div>
    {{/undefined}}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ROOT_PATH}}content/bootstrap.bundle.min.js"></script>
    <script src="{{ROOT_PATH}}content/symbols/feather.min.js"></script>
    <script>
        feather.replace({ width: '24', height: '24', 'stroke-width': '1' });
    </script>
    <script>
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                //validateForm();
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
</body>