<head>
    {{> meta_tags}}
    <link rel="stylesheet" href="{{ROOT_PATH}}content/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ROOT_PATH}}content/theme.css">
    <link rel="stylesheet" href="{{ROOT_PATH}}content/css/admin.css">
    <link rel="icon" href="{{favicon}}" type="image/png" sizes="16x16">
</head>

<body>
    {{> admin_head}}
    <h1 class="txt-color text-center">Admin Panel</h1>
    <section>
        <nav>
            <ul>
                <li>
                    <p id="pages"><a href="{{ROOT_PATH}}admin/pages"><i class="symbol"
                                data-feather="layout"></i><br>Pages</a></p>
                </li>
                <li>
                    <p id="content"><a href="{{ROOT_PATH}}admin/content"><i class="symbol"
                                data-feather="image"></i><br>Content</a>
                    </p>
                </li>
            </ul>
        </nav>
    </section>
    <h1 class="txt-color text-center">Navigation Bar</h1>
    <div class="alert alert-danger w-20 container" id="page-error" style="display:none" role="alert">
        <i data-feather="alert-circle"></i>
        <span></span>
    </div>
    <div class="alert alert-success w-20 container" id="page-success" style="display:none" role="alert">
        <i data-feather="check-circle"></i>
        <span></span>
    </div>
    <p id="new-page"><a href="" class="btn btn-success" data-toggle="modal" data-target="#staticBackdrop">+ Add Page</a>
    </p>
    <section class="container">
        <form id="navform" action="" method="post">
            <input type="hidden" name="type" value="update-nav" />
            <input type="hidden" name="order" id="compOrder" />
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Page Name</th>
                        <th scope="col">Page Address</th>
                        <th scope="col">Options</th>
                    </tr>
                </thead>
                <tbody id="dropList">
                    {{#each pages}}
                    <tr draggable="true" data-pid="{{uuid}}">
                        <th scope="row" class="movePnl"><i data-feather="chevrons-up" width='24' height='24'></i><br><i
                                data-feather="chevrons-down" width='24' height='24'></i></th>
                        <td>
                            <span>{{name}}</span>
                        </td>
                        <td>
                            <span>{{link}}</span>
                        </td>
                        <td><a href="{{ROOT_PATH}}admin/nav/{{uuid}}/delete" class="btn btn-danger">Remove</a></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <p id="new-page"><button class="btn btn-theme main-color txt-color" type="button"
                    onclick="submitData()">Update
                    Navigation</button>
            </p>
        </form>
    </section>

    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <form action="" method="post" class="needs-validation" novalidate>
                    {{!-- This tells the server what action to take with the post. --}}
                    <input type="hidden" name="type" value="add-nav" />
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Add Page</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <label for="addPage">Please Select a Page to Add:</label>
                            <select class="form-control" id="addPage" name="addPage">
                                {{#each pageList}}
                                <option value="{{uuid}}">{{name}}</option>
                                {{/each}}
                            </select>
                            <div class="invalid-feedback">
                                Please select a page.
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add Page</button>
                    </div>
                </form>
            </div>

        </div>
    </div>

    {{!-- Stores the versioning information for PortfolioCMS --}}
    <div class="container">
        <div class="row">
            <div class="col-sm txt-color">
                PortfolioCMS {{version}}
            </div>
            <div class="col-sm">

            </div>
            {{!-- 
                TODO:
                To be implemented in a future version.
             --}}
            <div style="display: none" class="col-sm alert-danger">
                Warning: You version of PortfolioCMS is outdated!
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ROOT_PATH}}content/bootstrap.bundle.min.js"></script>
    <script src="{{ROOT_PATH}}content/symbols/feather.min.js"></script>
    <script src="{{ROOT_PATH}}content/javascript/admin.js"></script>
    <script>
        feather.replace({ width: '60', height: '60', 'stroke-width': '1' });
    </script>
    <script>
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                //validateForm();
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
</body>